<form id='new-fish-form'>
    <div>
        <label for='fish-length'>Length(in.):</label>
        <input type='number' id='fish-length' />
    </div>
    <div>
        <label for='fish-weight'>Weight(lbs.):</label>
        <input type='number' id='fish-weight' />
    </div>
    <div>
        <!--
        <label for='fish-pic'>Photo:</label>
        <input type='text' id='fish-pic' />
        -->
    </div>

    <button id='new-fish-form' type='submit'>Add Catch!</button>
</form>

<!--Fish Image Upload Form-->
<h2>Upload your Fish!</h2>
<form id="image-form">
    <input id="image-input" type="file" accept="image/*">
    <button type="submit">Upload</button>
  </form>

<script src="/javascript/fish.js"></script>