<h1>New Catch for {{name}}</h1>
<div class='form-container'>
    <form id='new-fish-form'>
        <div>
            <label for='fish-length' class='text-white'>Length(in.):</label>
            <input type='number' id='fish-length' />
        </div>
        <div>
            <label for='fish-weight' class='text-white'>Weight(lbs.):</label>
            <input type='number' id='fish-weight' />
        </div>
        <div>
            <label for='fish-pic' class='text-white'>Photo:</label>
            <input type='text' id='fish-pic' />
        </div>

        <button id='new-fish-form' type='submit'>Add Catch!</button>
    </form>
</div>


<script src="/javascript/fish.js"></script>