<form id='new-fish-form'>
    <div>
        <label for='fish-length'>Length(in.):</label>
        <input type='number' id='fish-length' />
    </div>
    <div>
        <label for='fish-weight'>Weight(lbs.):</label>
        <input type='number' id='fish-weight' />
    </div>
    <div>
        <label for='fish-pic'>Photo:</label>
        <input type='text' id='fish-pic' />
    </div>

    <button id='new-fish-form' type='submit'>Add Catch!</button>
</form>

<div class="custom-file-container" data-upload-id="myUniqueUploadId">
    <label
        >Upload File
        <a
            href="javascript:void(0)"
            class="custom-file-container__image-clear"
            title="Clear Image"
            >&times;</a
        ></label
    >
    <label class="custom-file-container__custom-file">
        <input
            type="file"
            class="custom-file-container__custom-file__custom-file-input"
            accept="*"
            multiple
            aria-label="Choose File"
        />
        <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
        <span
            class="custom-file-container__custom-file__custom-file-control"
        ></span>
    </label>
    <div class="custom-file-container__image-preview"></div>
</div>

<script src="/javascript/fish.js"></script>