<h1>Fishing Tournament</h1>
<!-- This date is replaced by the current date from the main.js file -->
<h2 id="date">Current date</h2>

<!-- Table -->
{{#if fishes.length}}
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Angler</th>
      <th scope="col">Total fish caught</th>
      <th scope="col">Total length</th>
      <th scope="col">Photos</th>
    </tr>
  </thead>
  <tbody>
    <!-- Loop through each fish and display a row -->
    {{#each fishes as |fish|}}
    <tr>
      <!-- TODO: Need some way to determine the ranking -->
      <th scope="row"><i class="bi bi-trophy-fill gold"></i>1</th>
      <!-- TODO: Need to grab the name -->
      <td>
        <!-- If the user is logged in, show the names as links. Otherwise show them as static text -->
        {{#if loggedIn}}
        <a href="#">Bobby Smith</a>
        {{else}}
        Bobby Smith
        {{/if}}

      </td>
      <!-- TODO: Need to get totalFishes somehow -->
      <!-- <td>{{totalFishes}}</td> --> 
      <!-- REPLACE below with totalFishes --> 
      <td>5</td>
      <td>{{fish.length}}"</td>
      <td>
        <div>
          {{#each fish.pictures as |picture|}}
          <img src={{picture}} alt="">
          {{/each}}
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
  </table>
  {{/if}}