<h1>Fishing Tournament</h1>
<!-- This date is replaced by the current date from the main.js file -->
<h2 id="date">Current date</h2>

<!-- Table -->
{{#if competitors.length}}
<table class="table table-dark table-striped table-responsive">
  <thead>
    <tr>
      <th scope="col">Fish Number</th>
      <th scope="col">Angler</th>
      <th scope="col">Time Caught</th>
      <th scope="col">Fish Length</th>
      <th scope="col">Photos</th>
    </tr>
  </thead>
  <tbody>
    <!-- Loop through each fish and display a row -->
    {{#each competitors as |fish|}}
    <tr>
      <!-- TODO: Need some way to determine the ranking -->

      <th class="trophy-cell" scope="row"></th>
      <!-- TODO: Need to grab the name -->
      <td>
        <!-- If the user is logged in, show the names as links. Otherwise show them as static text -->
        {{#if loggedIn}}
        <a href="#">Bobby Smith</a>
        {{else}}
        Bobby Smith
        {{/if}}
      </td>
      <!-- TODO: Need to get totalFishes somehow --> 
      {{!-- Removed total fishes, instead placed time caught --}}
      <td>{{fish.created_at}}</td> 
      <!-- REPLACE below with totalFishes --> 

      <td>5</td>
      <!-- TODO: Need to get the total length of all the fish caught by the competitor -->
      <td>{{fish.length}}"</td>

      <td>
        <div>
          <img src={{fish.picture}} alt="">
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
  </table>
  {{/if}}