<div class="form-container">
  <form id='login-form'>
  <div class="form-group">
    <label for="email-login" class='text-white'>Email address:</label>
    <input type="email" class="form-control" id="email-login" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="password-login" class='text-white'>Password:</label>
    <input type="password" class="form-control" id="password-login" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary login-form">Submit</button>
</form>
  <a href="/signup">Create an account</a>
</div>

<script src="/javascript/login.js"></script>