:root {
  --blue: #6598E3;
  --darkest-gray: #252A39;
  --dark-gray: #2B3243;
  --medium-gray: #353C4F;
  --light-gray: #C4CDE9;

  --gold: #E9AB4F;
  --silver: #BEBBB7;
  --bronze: #B38E6C;
}

/* Base typography */

body {
  background-color: var(--darkest-gray);
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 2.375em;
  color: #fff;
  padding-top: 32px;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: var(--light-gray);
}

a, p, td, th {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

a {
  color: var(--light-gray);
  font-weight: 700;
}

p, td {
  color: #fff;
  font-weight: 700;
}

th {
  font-weight: 600;
  color: var(--light-gray);
}

.btn-primary, .btn-primary:hover {
  background-color: var(--blue);
  transition: opacity 0.3s;
}

.btn-primary:hover {
  opacity: 0.85;
  transition: opacity 0.3s;
}

/* Trophies */

.gold {
  color: var(--gold);
}

.silver {
  color: var(--silver);
}

.bronze {
  color: var(--bronze);
}

/* Navbar styling */

.navbar {
  border-bottom: 1px solid rgba(255,255,255,0.15);
}

.navbar-dark .navbar-brand, .navbar-link, .navbar-link:hover, .navbar-dark .navbar-brand:hover {
  color: var(--light-gray);
}

.navbar-link {
  text-decoration: none;
  text-transform: uppercase;
  margin: 16px 20px;
  transition: opacity 0.25s;
  display: inline-block;
  height: 87%;
  font-size: 0.9em;
  letter-spacing: 0.05em;
}

.navbar-link-border {
  border-bottom: 2px solid var(--blue);
}

.navbar-link:hover {
  opacity: 0.75;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  font-weight: 400;
}

.navbar-brand span {
  padding-left: 8px;
  font-weight: 700;
}

.navbar-bg {
  background-color: var(--darkest-gray);
}

/* Table styles */
.table {
  margin-top: 32px;
  border-radius: 6px;
  overflow: hidden;
}

th {
  padding-left: 16px;
}

td img {
  border-radius: 4px;
  margin: 4px;
}

.table-dark {
  --bs-table-bg: var(--dark-gray);
  --bs-table-striped-bg: var(--medium-gray);
  border-color: transparent;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: rgba(255,255,255,0.15);
}

.trophy-cell {
  color: #fff;
  font-weight: 700;
}

.bi-trophy-fill {
  padding-right: 4px;
}

/* Form styling */
.form-container {
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3em;
}

form button {
  margin-top: 2em;
  width: 100%;
}

.form-container > a {
  text-align: center;
  margin-top: 32px;
  color: var(--blue);
  text-decoration: none;
}

.form-login-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 32px;
}

.form-login-text a {
  padding-left: 4px;
  color: var(--blue);
  text-decoration: none;
}


@media (min-width: 768px) {
  .table > :not(caption) > * > * {
    padding: 0.75rem 1.5rem;
  }
}